h1{
    text-shadow: 1px 1px black;
}

div.Typewriter{
    font-weight: 800;
}

img.img-fluid.logo{
    max-width: 180px;
    float: left;
    margin-left: 5%;
}

img.img-fluid.logoS{
    max-width: 230px;
    margin-left: 100%;

}

img.card-img-top{
    width: 200px;
    height: 200px;
    align-self: center;
}

div.card{
    display: inline-flex;
    padding: 2%;
    margin: 2%;
    padding-left: 5%
    
}

div.card-title.h5{
    text-align: center;
}

img.d-block.w-100{
    width: 300px;
    height: 400px;
}

p.portfolioCaption{
    font-size: 11px;
}

input.input-contactForm{
    width: 480px;
}

portfolio-content.container{
    padding-bottom: 80;
}

form.contactForm{
    display: table-caption;
    padding-left: 25px;
}

textarea.text-contactForm{
    height: 200px;
    width: 480px;
}

div.accordion-view.accordion{
    display: none,
}


/* --------- */
/* AreaMap */
/* --------- */

div.mapboxgl-map{
    width: 950px !important;
    height: 700px !important;
}
div.overlays{
    width: 950px !important;
    height: 700px !important;
}

img.areaMap{
    width: 1060px;
    height: 840px;
}

/* --------- */
/* Services */
/* --------- */
.services-section {
    position: relative !important;
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
}

.services-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
}

.services-card-view {
    box-shadow: 0 4px 5px 3px rgba(30, 130, 29, 0.459) !important;
    color: #cdd1d5 !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
}

.services    -card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 4px 5px rgba(40, 149, 37, 0.561) !important;
}


.services-img-top {
    padding: 20px !important;
    opacity: 0.8 !important;
    border-radius: 10px !important;
}

.services-img {
    padding: 0px !important;
    opacity: 0.8 !important;
    border-radius: 0px !important;
}


.services-heading {
    color: #cdd1d5 !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}

/* div.accordion-view.accordion{ */
    
/* } */

div#area.area-section.container-fluid{
    height: 864px;
}

div.area-content.container{
    width: 1920px;
    height: 1080px;
}

div.area-header.col-md-6{
    margin-left: -135px;
}

p.portfolioCaption{
    text-shadow: 1.5px 1.5px 1.5px 1.5px black;
}

div.carousel-caption{
    text-shadow: 2px 2px black;
}


/* Media Query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.img-fluid.logo{
        max-width: 100px!important;
    }
    h1.h1Title{
        padding-right: 160px!important;
    }
    div.navbarContainer.container{
        padding-top: 177px!important;
        margin-right: 0!important;
    }
    img.img-fluid.logoS{
        margin-left: 0!important;
    }
    div.ml-auto.navbar-nav{
        display: contents!important;
    }
    a.nav-link{
        padding-right: 1px!important;
        padding-left: 1px!important;
        font-size: 12px!important;
        margin-right: 1.5px!important;
    }
    h1.headingServices{
        padding-left: 44px!important;
    }
    img.img-fluidServicesH{
        padding-left: 350px!important;
        margin-left: -260px!important;
        margin-top: -30px!important;
    }
    div.servicesSpace.col-md-5{
        padding-bottom: 0px!important;
    }
    h1.headingAreas{
        padding-left: 30px!important;
        margin-left: 0px!important;
        padding-top: 33px!important;
    }
    input.input-contactForm{
        width: 244px!important;
    }
    textarea.text-contactForm{
        width: 244px!important;
        height: 215px!important;
    }
    form.contactForm{
        padding-left: 5px;
    }
    div.about-img.col-md-5{
        padding-top: 0px!important;
        padding-right: 25px!important;
    }
    div.quote-card-view.card{
        width: 280px!important;
    }
    h1.aboutHeading{
        width: 155px!important;
    }
    h1.portfolioHeading{
        padding-left: 35px!important;
    }
    div.carousel-inner{
        width: 300px!important;
    }
    div.area-content.container{
        max-width: 360px!important;
    }
    div.area-header.col-md-6{
        margin-left: -15px!important;
    }
    img.areaMap{
        max-width: 305px!important;
        max-height: 305px!important;
    }
    div.servicesArea.row{
        max-height: 1518px!important;
    }
    div#area.area-section.container-fluid{
        height: 1380px!important;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
